# DEEPSEEK LLM API Key（必填）
# 获取地址：https://api-docs.deepseek.com/zh-cn/
DEEPSEEK_API_KEY=your_DeepSeek_api_key_here

# MiniMax MCP（可选，含联网搜索mcp）
# 获取地址：https://platform.minimaxi.com/
MINIMAX_API_KEY=your_minimax_api_key_here

# 高德地图 MCP 服务器（可选）
# 获取地址：https://lbs.amap.com/
AMAP_MAPS_API_KEY=your_amap_api_key_here
